<!DOCTYPE html>
<html prefix='og: http://ogp.me/ns#'>

<head>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../css/styleIE.css" />
    <![endif]-->
    <!--[if IE 8 | IE 9]>
    <link href="/event/GhostMonth/css/mainIE.css" rel="stylesheet" />
    <![endif]-->
    <meta charset="UTF-8">
    <title>經典台劇回憶殺！│2020K劇之王 挑戰燒腦問答 把大獎帶回家| 三立新聞網 SETN.COM</title>
    <meta name="title" content="經典台劇回憶殺！│2020K劇之王 挑戰燒腦問答 把大獎帶回家| 三立新聞網 SETN.COM" />
    <meta name="description" content="三立新聞網2020K劇之王 挑戰燒腦問答 把大獎帶回家，趕快下載三立新聞網APP。" />
    <meta name="keywords" content="APP活動,抽獎,K劇,追劇,暑假片單,韓劇,台劇,iphone ,三立新聞網,SETN" />
    <meta property="og:title" content="經典台劇回憶殺！│2020K劇之王 挑戰燒腦問答 把大獎帶回家| 三立新聞網 SETN.COM" />
    <meta property="og:description" content="下載三立新聞網APP！2020K劇之王 挑戰燒腦問答 把大獎帶回家" />
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:image" content="https://acts.setn.com/event/2020DRAMAKING/images/600x315.jpg" />
    <meta property="og:url" content="https://acts.setn.com/event/2020DRAMAKING/" />
    <meta property="fb:admins" content="1806826702767610">
    <link rel="shortcut icon" href="https://www.setn.com/favicon.ico" />

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/timer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />

    <link href="https://www.setn.com/resources/OwlCarousel2-2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://www.setn.com/resources/OwlCarousel2-2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />

    <!--    匯入jQuery    -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="js/jquery.rwdImageMaps.js"></script>
    <script>
        $(document).ready(function (e) {
            $('img[usemap]').rwdImageMaps();
        });
    </script>

    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "dMuYi1a8Dy00yP", domain: "setn.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=dMuYi1a8Dy00yP" style="display:none"
            height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->
    <!-- Begin comScore Tag -->
    <script>
        var _comscore = _comscore || [];
        _comscore.push({ c1: "2", c2: "20617561" });
        (function () {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
        })();
    </script>
    <noscript>
        <img src="https://b.scorecardresearch.com/p?c1=2&c2=20617561&cv=2.0&cj=1" />
    </noscript>
    <!-- End comScore Tag -->
    <!-- Start GA Certify Javascript -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-37193510-5', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- 廣告1  -->
    <script async="async" src="https://www.googletagservices.com/tag/js/gpt.js"></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>
    <script>
        googletag.cmd.push(function () {
            googletag.defineSlot('/21685920852/setn_event_setnapp2019_300x250_01', [300, 250], 'div-gpt-ad-1559621843154-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.pubads().collapseEmptyDivs();
            googletag.enableServices();
        });
    </script>
    <!-- 廣告1  end  -->

    <script type="text/javascript" src="https://www.youtube.com/iframe_api" async></script>
</head>

<body>
    <div id="app" v-cloak>
        <h1 class="hidden"></h1>
        <div id="fb-root"></div>
        <div class="visualBox">
            <a class="logo" href="https://www.setn.com" target="_blank"><img src="images/logo.png" alt="三立新聞網"></a>
            <div class="filmCarouselBox">
                <div class="filmCarousel owl-carousel owl-theme">
                    <a href="https://vidol.tv/programmes/748?episode_id=32788" target="_blank" class="item">
                        <img src="images/film1.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/593?episode_id=31139" target="_blank" class="item">
                        <img src="images/film2.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/571?episode_id=30639" target="_blank" class="item">
                        <img src="images/film3.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/140?episode_id=8060" target="_blank" class="item">
                        <img src="images/film4.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/210?episode_id=17337" target="_blank" class="item">
                        <img src="images/film5.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/83?episode_id=12256" target="_blank" class="item">
                        <img src="images/film6.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/105?episode_id=12799" target="_blank" class="item">
                        <img src="images/film7.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/48?episode_id=9798" target="_blank" class="item">
                        <img src="images/film8.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/95?episode_id=13194" target="_blank" class="item">
                        <img src="images/film9.jpg" alt="">
                    </a>
                    <a href="https://vidol.tv/programmes/71?episode_id=12197" target="_blank" class="item">
                        <img src="images/film10.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="btn flexbox">
                <a href="#section1"><img src="images/btn1.png" alt=""></a>
                <a href="#section2"><img src="images/btn2.png" alt=""></a>
                <a href="#section3"><img src="images/btn3.png" alt=""></a>
            </div>
            <div class="visual hidden_xl"><img src="images/visual.png" alt=""></div>
            <div class="visual hidden visible_xl hidden_s"><img src="images/visual_m.png" alt=""></div>
            <div class="visual hidden visible_s"><img src="images/visual_s.png" alt=""></div>
        </div>

        <section id="section1" class="section1">
            <div class="wrapper">
                <div class="bg2"></div>
                <div class="appArea">
                    <a class="close2"><img src="images/close.png" alt=""></a>
                    <div class="appBox">
                        <img class="appWords" src="images/appWords.png" alt="">
                        <a href="http://goo.gl/cIwgXT" target="_blank"><img src="images/android.png" alt=""></a>
                        <a href="http://goo.gl/7OTK52" target="_blank"><img src="images/ios.png" alt=""></a>
                    </div>
                </div>
                <div class="title"><img src="images/title1.png" alt="夯劇解鎖"></div>
                <div class="menuBox">
                    <div class="conLeft">
                        <div class="word1">
                            追劇追星不過癮<br>
                            快來挑戰Ｋ劇之王<br>
                            就是你!
                        </div>
                        <div class="word2">
                            登入<a class="app">三立新聞網APP</a><br>
                            活動專區測驗你的追星指數<br>
                            天天抽獎即抽即中!<br>
                            每週再抽<span class="word2 red">iPhone11</span>、<br>
                            <span class="word2 red">日本空氣清淨除濕機</span>等大獎!
                        </div>
                    </div>
                    <div class="conRight">
                        <div class="showOwl">
                            <div><img class="owlStepTitle" src="images/stepTitle.png" alt=""></div>
                            <div class="">
                                <div class="stepCarousel owl-carousel owl-theme">
                                    <div class="item">
                                        <img src="images/step1.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="images/step2.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="images/step3.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="images/step4.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="images/step5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin5">
                    <div id="div-gpt-ad-1559621843154-0" style="height:250px; width:300px; margin: 0 auto;">
                    </div>
                </div>
                <div class="title"><img src="images/title1-2.png" alt="夯劇解鎖好禮區"></div>
                <div class="giftBox">
                    <div class="giftTab flexbox">
                        <a class="giftTab1" @click.prevent="setWeeklyGifts(0)"></a>
                        <a class="giftTab2" @click.prevent="setWeeklyGifts(1)"></a>
                        <a class="giftTab3" @click.prevent="setWeeklyGifts(2)"></a>
                    </div>
                    <div class="giftCon">
                        <div class="giftConBg flexbox">
                            <div class="gift" v-for="(gift, i) in activeWeeklyPrizes">
                                <a :href="gift.link" class="link" target="_blank"></a>
                                <a href="#" class="winner" @click.prevent="toggleWeeklyWinnerBox(i)"></a>
                                <div><img :src="'images/' + gift.preview" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section2" class="gap">
                <img class="film" src="images/film.png" alt="">
                <img class="film_title hidden_m" src="images/title2.png" alt="">
                <img class="film_titleM hidden visible_m" src="images/title2m.png" alt="">
            </div>
        </section>
        <section class="section2">
            <div class="wrapper">
                <div class="word3">
                    猜題解謎過５關<br>
                    你是迷妹迷哥還是迷糊蛋？<br>
                    一玩見分曉！
                </div>
                <img class="info" src="images/info.gif" alt="玩法說明">
                <div class="bg"></div>
                <div class="infoCon">
                    <a class="close"><img src="images/close.png" alt=""></a>
                    <div class="infoConImgBox">
                        <img class="infoConImg" src="images/infoCon.png" alt="">
                    </div>
                </div>
                <div class="gameArea">
                    <div class="gameBox">
                        <div class="result">
                            <div class="score">{{ game.score }}</div>
                            <img class="resultBg" src="images/resultBg.png" alt="分數">
                        </div>
                        <div class="gameTop">
                            <div class="questions">
                                <span class="questions1">{{ game.round + 1 }}</span>
                                <span>/{{game.config.round }}</span>
                            </div>
                            <div class="hintBox">
                                <div class="hint" v-for="(tip, i) in tips">
                                    <span class="no">{{ i+1 }}</span>
                                    <span class="hintWords">{{ tips[i] }}</span>
                                </div>
                            </div>
                            <div class="answer flexbox flexCenter unselectable animate__animated"
                                :class="matchAnimation" @animationend="delay(nextRound)">
                                <div class="ansWords animate__animated" v-for="(needle, i) in needles"
                                    :class="{animate__flash: needle.isDiff}" @click="removeNeedle(i)"
                                    @animationend="needle.isDiff = false;">
                                    {{ needle.word }}</div>
                            </div>
                        </div>
                        <div class="gameBtm">
                            <div class="word4">快速通關(每卡牌限一次使用)</div>
                            <div class="fastBox flexbox flexCenter">
                                <div class="fast" @click="express('EXPRESS_PASS')"
                                    :class="{disableButton: !hasExpressQuota('EXPRESS_PASS')}">
                                    <img src="images/fast1.png" alt="pass">
                                </div>
                                <div class="fast" @click="express('EXPRESS_SHARE')"
                                    :class="{disableButton: !hasExpressQuota('EXPRESS_SHARE')}">
                                    <img src="images/fast2.png" alt="分享至fb">
                                </div>
                                <div class="fast" @click="express('EXPRESS_VIDEO')"
                                    :class="{disableButton: !hasExpressQuota('EXPRESS_VIDEO')}">
                                    <img src="images/fast3.png" alt="觀看Youtube">
                                </div>
                            </div>
                            <div class="guessWordBox flexbox flexCenter unselectable">
                                <div class="guessWord" v-for="(needle, i) in haystack" @click="pick(i)">{{ needle }}
                                </div>
                            </div>
                            <div class="hintBtnBox flexbox flexCenter">
                                <div class="hintBtn" @click="cue(1)"><img src="images/hintBtn1.png" alt="一字提示"
                                        :class="{disableButton: game.score < getCueBySize(1).cost}"></div>
                                <div class="hintBtn" @click="cue(3)"><img src="images/hintBtn2.png" alt="三字提示"
                                        :class="{disableButton: game.score < getCueBySize(3).cost}"></div>
                            </div>
                            <div class="startGameArea unselectable">
                                <div class="startGameBox" @click="play" :class="{hiddenButton: game.playState != 0}">
                                    <span class="word4 change">登入FB 開始遊戲</span>
                                    <img class="pointer" src="images/pointer.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div :class="timerCtrl" @animationend="timeUp()"></div>
                    <div class="bg-preload" :class="{blockBox: game.blockState == 1}" @click="nextPreload()"></div>
                    <div class="preloadArea" :class="{blockBox: game.blockState == 1}" @click="nextPreload()">
                        <div>
                            <img src="images/gameInfo1.png" v-show="game.preloadStep == 0">
                            <img src="images/gameInfo2.png" v-show="game.preloadStep == 1">
                        </div>
                    </div>
                    <div class="bg-preload" :class="{blockBox: game.blockState == 3 || game.blockState == 5}"></div>
                    <div class="videoBox" :class="{blockBox: game.blockState == 3 || game.blockState == 5}">
                        <div class="flexbox cfBox">
                            <div class="cfWords">喝杯水~工商廣告時間</div>
                            <a class="video-timer" :class="videoTimerCtrl" @animationIteration="videoTimeIteration()"
                                @animationend="videoTimeUp()" @click.prevent="closeVideo">
                                {{ game.videoTimer}}
                            </a>
                        </div>
                        <div class="content shareContent video-container"
                            :class="{blockBox: game.blockState == 3 || game.blockState == 5}">
                            <iframe id="player"
                                src="https://www.youtube.com/embed/?enablejsapi=1&rel=0&loop=0&controls=0&mute=1&playsinline=1&fs=0&origin=https://acts.setn.com&playlist=GT1Nq52WXgc,6y1Lqa5HgZU,2O4Oyvuhk0Y,GEayzkPqtuo"
                                frameborder="0"></iframe>
                            <div class="volumeBox">
                                <i class="fa fa-volume-off" v-if="isMuted"></i>
                                <i class="fa fa-volume-up" v-else></i>
                            </div>
                        </div>
                    </div>
                    <div class="bg-share" :class="{blockBox: game.blockState == 4}"></div>
                    <div class="shareBox" :class="{blockBox: game.blockState == 4}">
                        <div class="content shareContent">
                            <a class="close absolute shareClose">
                                <img src="images/close.png">
                            </a>
                            <div class="shareWords">
                                成績單來了！分享FB再抽一波吧！請下載《<a href="https://goo.gl/qNPE23" target="_blank">三立新聞網APP</a>》填妥會員資料，以免影響您的領獎權利
                            </div>
                            <div class="shareCard">
                                <img :src="shareImageUrl" />
                            </div>
                            <div class="shareBtnBox">
                                <div class="shareBtn" @click="replay()"><img src="images/startBtn.png" /></div>
                                <div class="shareBtn" @click="shareMyScore()"><img src="images/shareBtn.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title2"><img src="images/title2-2.png" alt="過關好禮"></div>
                <div class="giftBox">
                    <div class="giftTab flexbox">
                        <a class="giftTab4" @click.prevent="setAcitivePrize(0)"></a>
                        <a class="giftTab5" @click.prevent="setAcitivePrize(1)"></a>
                        <a class="giftTab6" @click.prevent="setAcitivePrize(2)"></a>
                    </div>
                    <div class="giftCon2">
                        <div class="giftConBg" v-for="(prize) in activePrizes">
                            <div class="giftCon2words">
                                <p>- {{ prize.name }} 抽獎資格 -</p>
                                <p>{{ prize.summary }}</p>
                            </div>
                            <div class="flexbox flexCenter">
                                <div class="gift2" v-for="(gift, i) in prize.gifts">
                                    <a :href="gift.link" class="link" target="_blank"></a>
                                    <a href="#" class="winner" @click.prevent="togglePassWinnerBox(i)"></a>
                                    <div><img :src="'images/award/' + gift.preview" :alt="gift.name"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section3">
                <div class="gap2">
                    <img class="film" src="images/film2.png" alt="">
                    <img class="film_title hidden_m" src="images/title3.png" alt="">
                    <img class="film_titleM hidden visible_m" src="images/title3m.png" alt="">
                </div>
                <div class="newsArea">
                    <div class="newsOwl">
                        <div class="newsCarousel owl-carousel owl-theme">
                            <div class="item" v-for="item in news">
                                <a :href="item.link" target="_blank">
                                    <div class="newsBox">
                                        <img :src="item.preview" alt="">
                                        <p class="newsTitle">{{ item.title }}</p>
                                        <h3>{{ item.summary }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section3">
            <div class="wrapper">
                <div class="noticeBox">
                    <img class="title3" src="images/notice.png" alt="">
                    <ul>
                        <li>1.本站之所有影音資料，著作權均歸本公司所享有。未經本公司事前同意或授權，任何人均不得擅自重製、公開傳輸、 散布或為任何侵害本公司著作權之行為。如有影音授權需求，請洽本公司活動信箱
                            setnapp@gmail.com。</li>
                        <li>2.中獎通知僅以＂中獎人於本活動填寫之EMAIL信箱＂進行，不另行電話通知，煩請自行留意收件匣。依中華民國稅法規定，獎項金額若超過新台幣$1,000，獎項所得將列入個人年度綜合所得稅申報，故得獎人需提供身份證影本且依規定填寫並繳交相關收據方可領獎；若贈品所得總額超過NT$20,000，需另繳納10%稅額(外籍人士不論金額依稅法扣繳20%)後，使得領獎。若不願意配合，則視為自動棄權，不具得獎資格。參加者應同意填寫主辦單位寄發之中獎通知證明文件，並保證其因參加本活動所填寫或提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料。一經主辦單位或三立新聞網發現或經第三人檢舉該等資料有不實或不正確之情事，主辦單位或三立新聞網得取消其參加或得獎資格。若因此致主辦單位或三立新聞網無法通知其得獎訊息時，主辦單位及三立新聞網不負任何責任，如主辦單位或三立新聞網或其他任何第三人因此而受有損害，參加者應負一切相關責任。
                        </li>
                        <li>3.本活動除了「住宿票券類」獎項由主辦單位以掛號信件寄出之外；其餘獎項皆請得獎者自付運費(宅配貨到付款)，或至本公司親領
                            （台北市內湖區舊宗路一段159號 三立新聞網）。住宿票券類使用注意事項、效期及條件除有特別約明外，概依該票券發行單位之規定為主，本公司無須負擔相關責任。
                        </li>
                        <li>4.「虛擬贈品」(即享券/電子禮券等)部分：本公司將直接寄至得獎者填寫的電子信箱，請自行開通啟用即可。若因未提供正確電子信箱而致無法寄送獎品，視同自願放棄得獎資格，本公司不另行通知，亦無法補發或遞補獎品。請得獎者自行注意禮券或點數具有效期，得獎者逾時開通致無法使用時，本公司不另行補發或遞補；「虛擬贈品」(即享券/電子禮
                            券等)之使用、限制，除本注意事項有特別約明外，概依「虛擬贈品」(即享券/電子禮券等)發行公司之規定。
                        </li>
                        <li>5.所有獎項不提供交換、轉讓及折現，也不得更換得獎人。如因不可歸責於本公司之因素，致商品獎項必須變動時，本公司保留更換為等值獎項之權利。
                        </li>
                        <li>6.參加本活動即視為同意接受本活動之各項辦法與注意規範。如有違反活動規範，本公司得逕自取消中獎資格，恕不另行通知。
                        </li>
                        <li>7.本活動禁止惡意電腦程式、殭屍帳號操作參加，或其他意圖混淆影響活動結果、若發現參賽者有任何違反活動公平性之任何行為，本公司有權取消參賽者之得獎資格，恕不另行通知。對於前述行為或其他足以損害本活動、網站、個人之
                            行為，並將追究其法律責任。
                        </li>
                        <li>8.本公司保有修改、暫停及解釋活動內容之權利，變更之訊息將於本活動網站公布，不另行通知。
                        </li>
                    </ul>
                    <img class="title3" src="images/privacy.png" alt="">
                    <ul>
                        <li>1.當您造訪或使用本活動網站所提供之功能服務時，即表示同意本隱私權規範。本公司將於本活動相關範圍內蒐集、處理及利用您所提供之的個人資料（包括姓名、電子郵件行動電話號碼等）。
                        </li>
                        <li>2.如有刪除、停止蒐集、處理、利用前述資料或欲查詢、閱覽、製成副本、補充或更正之需求，可隨時洽本活動網站處理。非經您同意，本公司不會將您的個人資料用於其他用途。其他隱私權規範請參考本公司隱私權聲明。
                        </li>
                    </ul>
                </div>
                <div class="title2"><img src="images/title4.png" alt="贊助好友"></div>
                <div class="sponsorBox flexbox flexCenter">
                    <a href="https://vidol.tv/" target="_blank"><img src="images/sponsor1.png" alt=""></a>
                    <a href="https://ici-enorbite.com.tw/product/the-premiere-journey/" target="_blank"><img
                            src="images/sponsor2.png" alt=""></a>
                    <a href="https://www.ttbeauty.asia/" target="_blank"><img src="images/sponsor3.png" alt=""></a>
                    <a href="https://www.presto.com.tw/products/iris-ijc-h120-iris%E7%A9%BA%E6%B0%A3%E6%B8%85%E6%B7%A8%E9%99%A4%E6%BF%95%E6%A9%9F%E9%80%81iris-fac2"
                        target="_blank"><img src="images/sponsor4.png" alt=""></a>
                    <a href="https://www.kgcshop.com.tw/" target="_blank"><img src="images/sponsor5.png" alt=""></a>
                    <a href="https://www.snaprotect.com.tw/products/24h-120" target="_blank"><img
                            src="images/sponsor6.png" alt=""></a>
                    <a href="https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=7729826&Area=search&mdiv=403&oid=1_11&cid=index&kw=%E6%B0%A3%E6%B3%A1%E6%B0%B4%E6%A9%9F"
                        target="_blank"><img src="images/sponsor7.png" alt=""></a>
                    <a href="https://www.palcom-international.com/cat-s61/" target="_blank"><img
                            src="images/sponsor8.png" alt=""></a>
                </div>
                <div class="copyright">Copyright ©2020 Sanlih E-Television All Rights Reserved 版權所有 盜用必究 台北市內湖區舊宗路一段159號
                    02-8792-8888</div>
            </div>
        </section>

        <div id="gotop"><i class="fa fa-angle-up"></i></div>
        <div class="winnerBg2" :class="{blockBox: classObject.winnerBox}"></div>
        <div class="contentBox2" :class="{blockBox: classObject.winnerBox}">
            <div class="winnerContent2">
                <a class="winnerClose2 absolute" @click.prevent="toggleWinnerBox"><img src="images/close.png" alt=""></a>
                <ul class="winnerList">
                    <li class="winnerTitle">看影片答題　{{ bulletinBoard.date }} 中獎名單</li>
                    <li>{{ bulletinBoard.name }}</li>
                    <li>
                        <ul>
                            <li v-for="winner in bulletinBoard.winners">
                                <span>{{ winner.name }}</span>
                                <span>{{ winner.phone }}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://www.setn.com/resources/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
    <script>
        googletag.cmd.push(function () { googletag.display("div-gpt-ad-1559621843154-0"); });
    </script>

    <script type="text/javascript">
        $(function () {

            $('.filmCarousel').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                dots: false,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                lazyLoad: true,
                navClass: ["carouselNav_prev", "carouselNav_next"],
                navText: [" ", " "],
                navContainerClass: "carouselNav",
                responsive: {
                    0: {
                        items: 2
                    },
                    480: {
                        items: 3
                    },
                    900: {
                        items: 5
                    },
                    1200: {
                        items: 5
                    }
                }
            });

            $('.stepCarousel').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                autoplay: true,
                navClass: ["carouselNav_prev", "carouselNav_next"],
                navText: [" ", " "],
                navContainerClass: "carouselNav",
                items: 1
            });

            $("#gotop").click(function () {
                jQuery("html,body").animate({
                    scrollTop: 0
                }, 1000);
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('#gotop').fadeIn("fast");
                } else {
                    $('#gotop').stop().fadeOut("fast");
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('a[href=#section1]').click(function () {
                $('html,body').animate({
                    scrollTop: $('#section1').offset().top
                }, "show");
                return false;
            });
            $('a[href=#section2]').click(function () {
                $('html,body').animate({
                    scrollTop: $('#section2').offset().top
                }, "show");
                return false;
            });
            $('a[href=#section3]').click(function () {
                $('html,body').animate({
                    scrollTop: $('#section3').offset().top
                }, "show");
                return false;
            });
        });
    </script>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/facebook.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <script>
        $(function () {
            $('.info').click(function () {
                $('.bg').css({ 'display': 'block' });
                $('.infoCon').css({ 'display': 'block' });
                $('.close').css({ 'display': 'block' });
            });

            $('.bg,.close,.bg2,.close2,.shareClose').click(function () {
                $('.bg,.bg2').fadeOut(200);
                $('.infoCon,.appArea,.shareBox').fadeOut(200);
                $('.close,.close2,.shareClose,.winnerClose2').fadeOut(200);
            });
            $('.app').click(function () {
                $('.bg2').css({ 'display': 'block' });
                $('.appArea').css({ 'display': 'block' });
                $('.close2').css({ 'display': 'block' });
            });
        });
    </script>


</body>

</html>